body{
    font-family: 'Times New Roman', Times, serif;
}
.section{
    margin-top: -20px;
background-color: aquamarine;
}
.container{
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar{
    text-align: center;
    padding: 20px;
    display: flex;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
 
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
   
}
nav ul li a{
  
    text-decoration: none;
    color: cornflowerblue
    ;
}

.logo{
    padding-left: 20px;
    width: 150px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.col6{
    flex-basis: 50px;
}
.col6 img{
    width: 200px;
    padding: 30px 0;
}
.col6 h1{
    text-align: center;
font-size: 50px;
line-height: 60px;
margin: 30px 0;
}
.col6 a{
    display: inline-block;
    text-decoration: none;
    padding: 8px 30px;
    color: white;
    background-color: blue;
    border-radius: 30px;
    margin-top: 25px;


}
.categories {
margin: 50px 0px;
}
.categories h2{
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: blue;
}
.col-6{
width: 250px;
margin: auto;
flex-basis: 30%;

}
.col-6 img{
    width: 100%;
    
}
.col-3{
    padding: 15px;
    min-width: 200px;
    flex-basis: 25%;
}
.produit .container h2{
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: blue;
}
.col-3{
    width: 250px;
    margin: auto;
    flex-basis: 30%;
    
    }
    .col-3 img{
        width: 100%;
        
    }
    .footer{
        color: black;
        text-align: center;
        background: rgb(209, 207, 207);
    }
